/* ---- Sticky Footer ---- */
html, body { height: 100%; }
#outer-wrapper { display: flex; flex-direction: column; min-height: 100vh; }
#body-wrapper { flex: 1; } /* ---- Expands body-wrapper regardless of header-wrapper and footer-wrapper height ---- */
